{% extends "base.html" %}

{% block content %}
<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<div class="alert alert-primary" role="alert">We have send a Mail to you </div>
		<h3 class="card-title text-center">Please Fill the code</h3>
		<div class="card-text text-center">
		<div class="sign-up ">
			<div class="form-group">
				<form method="post">
					{% csrf_token %}
                <input type="text" name="hcode" class="form-control form-control-sm" id="exampleInputtext1" placeholder="Code-XXXXXX "> 
            
			    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
			</div>
		</div>    
			
		</div>
	</div>
</div>
</div>


{% endblock %}

<!-- https://codepen.io/tag/login -->

