{% extends "base.html" %}

{% block content %}

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Reset Password</h3>
            <div class="card-text">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary" role="alert">{{ message}}</div>
                {% endfor %}
                {% endif %}
                <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="post">
                    {% csrf_token %}
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <input type="password" name="password1" class="form-control form-control-sm"
                            id="exampleInputPassword1" placeholder="🔒 New Password">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" name="password2" class="form-control form-control-sm"
                            id="exampleInputPassword2" placeholder="🔒 Confirm Password">
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block ">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- https://codepen.io/tag/login -->