{% extends "base.html" %}

{% block content %}
<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message}}</div>
        {% endfor %}
        {% endif %}  
		<h3 class="card-title text-center">You Are Verified </h3>
		<div class="card-text text-center">
            Please login
		</div>
        <div class="card-text text-center">
        <a href="{% url 'login_attempt'%}"><button type="button" class="btn btn-outline-primary">log in</button></a>
        </div>
    </div>
</div>
</div>

{% endblock %}
