{% extends "hom1.html" %}

{% block content %}
<h1>Pending</h1>
<!-- <div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">My Profile</h3>
		<div class="card-text">
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-primary" role="alert">{{ message}}</div>
			{% endfor %}
			{% endif %}  
			
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
			<!-- <form method="post"> -->
				<!-- {% csrf_token %} -->
				<!-- to error: add class "has-danger" 
                <h2></h2>
                <h2>{{request.user.password}}</h2>
                <h2></h2>
				<div class="form-group">
					<br>
					<input type="text" name="username"class="form-control form-control-sm" id="exampleInputUser1" aria-describedby="emailHelp" placeholder="😊 Username" value="{{request.user.username}}">
				</div>
				<div class="form-group">
					<br>
					<input type="email" name="email"class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="✉ Email Address" value="{{request.user.email}}">
				</div>
				<div class="text-center">
				<button type="submit" class="btn btn-primary btn-block">Update Profile</button>
			    </div>
			</form>
		</div>
	</div>
</div>
</div> -->
{% endblock %}
